body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.calculator{
    width: 300px;
    height: 500px;
    background-color: rgb(232, 232, 232);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}
.display{
  width: 100%;
  height: 100px;
  text-align: right;
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(237, 237, 237);
}
.buttons {
    border-radius: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: calc(100% - 90px);
    box-sizing: border-box;
    padding: 10px;
    
}
.button{
    background-color: rgb(177, 177, 177);
}
.operator{
    background-color: rgb(255, 184, 52);
}
.button:hover{
    transform: scale(1.1);
    background-color: rgb(163, 163, 163);
    transition:background-color 0.5s ease-in-out;
}

