body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.calculator{
    width: 300px;
    height: 500px;
    background-color: rgb(232, 232, 232);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}
.display{
  width: 100%;
  height: 100px;
  text-align: right;
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: calc(100% - 90px);
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

.buttons > * {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}
.num{
    background-color: rgb(177, 177, 177);
}
.operator{
    background-color: rgb(255, 191, 71);
}

.operator:hover{
    transform: scale(1.1);
    background-color: rgb(255, 166, 0); 
    transition: background-color 0.5s ease-in-out;
}
.num:hover{
    transform: scale(1.1);
    background-color: rgb(133, 133, 133);
    transition:background-color 0.5s ease-in-out;
}

