body {
  background-color: white;
}
h1 {
  color: rgb(0, 0, 0);
}
p {
  color: red;
}

/* Image used by the calculator script */
.calc-image {
  width: 10000px;
  height: 500px;
  max-width: 100%;
  display: block;
}