body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.calculator{
  width: 300px;
  background-color: #f3f3f3;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  padding: 20px;
}

.display{
  width: 100%;
  height: 50px;
  text-align: right;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button:hover{
  transform: scale(1.1);
}
.button:active{
  transform: scale(0.95);
}
