body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}

#section {
    background: white;
    margin: 35px auto;
    padding: 15px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    text-align: center;
}