body {
    margin: 0;
    font-family:sans-serif;
    background: #f4f4f4;
    text-align: center;
}

header {
    text-align: center;
    padding: 20px;
    background: #4457ff;
    color: white;
}
#myPlot {
    width: 60%; 
    height: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 5px;
}
#section {
    background: rgb(255, 255, 255);
    margin: 55px auto;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(208, 0, 255, 0.3);
}