body {
    margin: 0;
    font-family:"Comic Sans MS", "Comic Sans", cursive, sans-serif;
    background: #f4f4f4;
    text-align: center;
}
@keyframes bgcolor {
  0% { background-color: #ff0000; } /* Red */
  25% { background-color: #00ff00; } /* Green */
  50% { background-color: #0000ff; } /* Blue */
  75% { background-color: #ffff00; } /* Yellow */
  100% { background-color: #ff0000; } /* Back to Red */
}

body {
  animation: bgcolor 10s infinite alternate; /* 10s duration, infinite loop, alternates direction */
}

  .wiggle-text {
    display: inline-block; /* Important for transform to work correctly on inline elements */
    animation: wiggle 1s infinite alternate; /* Apply the animation */
    
  }

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.stop-animations * {
    animation: none !important;
}

@keyframes textgrowth {
    0% {
        font-size: 10px;
    }
    100% {
        font-size: 20px;
    }
}
.controlled-content {
  visibility: hidden; /* Hidden by default */
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear; /* Optional: for smooth transitions */
}

header {
  margin-top: 15%;
    text-align: center;
    padding: 20px;
    background: #4457ff;
    color: white;
    display: inline-block;
    animation: wiggle 1s infinite alternate, textgrowth 2s infinite alternate;
    font-size: 10px;
}
    
#myPlot {
    width: 60%; 
    height: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 5px;
}
#section {
    background: rgb(255, 255, 255);
    margin: 55px auto;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(208, 0, 255, 0.3);
    
}